<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>OnlineDeliveries</title>
  <base href="/customerAcc">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
</head>
<body>
  <header>
      <nav class="navbar navbar-light">
          <button (click)="options()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
            aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
        <div id="mySidenav" class="sidenav">
            <a class="closebtn" (click)="closeNav()">Close</a>
            <a routerLink="/">Home</a>
            <a routerLink="/signUp">Sign Up</a>
          </div>
  </header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-3" style="text-align:center">
        <h1>Our Goal</h1>
        <p>At orders online out main goal is to make your life simpler and keep you doing the things that you love and not be stuck as an administrator. Let us take the role</p>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-3" style="text-align:center">
        <h1>Our Promise</h1>
        <p>At orders online out main goal is to make your life simpler and keep you doing the things that you love and not be stuck as an administrator. Let us take the role</p>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-3" style="text-align:center">
          <h1>Our Details</h1>
          <p>At orders online out main goal is to make your life simpler and keep you doing the things that you love and not be stuck as an administrator. Let us take the role</p>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3" style="text-align:center">
          <h1>Our Mission</h1>
          <p>At orders online out main goal is to make your life simpler and keep you doing the things that you love and not be stuck as an administrator. Let us take the role</p>
        </div>
      </div>
  </div>

</body>