<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Online Orders!
  </h1>
</div> 
  <div>

    
       
        <br>
        <select>
          <option value="Lettuce">Lettuce</option>
        </select>
        <br>
        <select>
          <option value="Oranges">Oranges</option>
        </select> 
        <br>
        <select>  
          <option value="Apples">Apples</option>
        </select>
        <br>
        <select>  
          <option value="Turnips">Turnips</option>
        </select> 
    
    
    

  </div>

<router-outlet></router-outlet>
